/* This is my first proper css file */

body{
    background-color: rgb(72, 85, 100);
    text-align: center;
}

h1, h2, h3, p{
    color:rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
    
}

.chart{
    background-color: white;
    width:430px;
    border-width: 0px;
    border-style: solid;
    border-radius: 15px;
    border-color: black;
}
