/* This is my first proper css file */

body{
    background-color: rgb(72, 85, 100);
}

h1, h3, p{
    color:rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
}

.chart{
    background-color: white;
    width:410px;
    border-width: 4px;
    border-style: solid;
    border-radius: 15px;
    border-color: black;
}
